__MACOSX/
/iMat/nbproject/private/
/iMat/build/
/iMat/nbbuild/
/iMat/dist/
/iMat/nbdist/
/iMat/nbactions.xml
/iMat/nb-configuration.xml
/iMat/.nb-gradle/
Thumbs.db
.DS_Store
projectbackend.jar
NewJFrame.java
NewJFrame.form
